body {
    padding: 0;
    margin: 0;
    background-color: gray;    
    overflow: hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    _justify-content: center;
    _align-items: center;
}

#carCanvas {
    background-color: lightgray;
}

#networkCanvas {
    background-color: black;
}

#paused {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #44444444;
    justify-content: center;
}

#paused::before {
    display: flex;
    content: "PAUSED";
    font-size: 35px;
    font-style: italic;
    color: white;
    line-height: 13;
    text-shadow: 0px 0px 4px black;
}

#panel {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 30%;
    padding: 10px;
}

button {
    border: node;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}